<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1>Productos</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Producto</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        <th>Foto</th>
                        <th>Editar/Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    productos.forEach((producto)=>{
                    %>
                        <tr>
                            <td><%= producto.id %></td>
                            <td><%= producto.producto %></td>
                            <td><%= producto.stock %></td>
                            <td><%= producto.precio %></td>
                            <td><img src="/images/<%= producto.foto %>" width="100px"></td>
                            <td>
                                <a href="/editarProducto/<%= producto.id %>">Editar</a>
                                <a href="/borrarProducto/<%= producto.id %>">Borrar</a>
                            </td>
                        </tr>
                    <%
                    });
                    %>
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
<%- include("../templates/pie") %>