<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>
<link rel="stylesheet" type="text/css" href="/web/css/estilosMostrar.css">
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1>Usuarios</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Correo</th>
                        <th>Password</th>
                        <th>Foto</th>
                        <th>Editar/Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    usuarios.forEach((usuario)=>{
                    %>
                        <tr>
                            <td><%= usuario.id %></td>
                            <td><%= usuario.nombre %></td>
                            <td><%= usuario.usuario %></td>
                            <td><%= usuario.correo %></td>
                            <td>**********</td>
                            <td><img src="/images/<%= usuario.foto %>" width="100px"></td>
                            <td>
                                <a href="/editarUsuario/<%= usuario.id %>">Editar</a>
                                <a href="/borrarUsuario/<%= usuario.id %>">Borrar</a>
                            </td>
                        </tr>
                    <%
                    });
                    %>
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
<%- include("../templates/pie") %>

